@{
    ViewData["Title"] = "ReserveSuccess";
}

<h1>Su reserva ha sido registrada con exito</h1>

<div class="col-md-12">
    <form asp-action="Details">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mt-2">
            <a asp-area="" asp-controller="Reserves" asp-action="MyReserves" class="btn btn-outline-success">Ver reservas</a>
        </div>
    </form>
</div>




