@model RentACar.Data.Entities.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Se esta borrando la categoría, ¿Desea continuar con el borrado?</h3>
<div>

    <patial name="_CategoryDetails" /> <!--Hace llamado de la Vista parcial-->
</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
