@model RentACar.Models.RentalViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Quantity" class="control-label"></label>
    <input asp-for="Quantity" class="form-control" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TotalValue" class="control-label"></label>
    <input asp-for="TotalValue" class="form-control" />
    <span asp-validation-for="TotalValue" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PaymentType" class="control-label"></label>
    <input asp-for="PaymentType" class="form-control" />
    <span asp-validation-for="PaymentType" class="text-danger"></span>
</div>

