@model RentACar.Data.Entities.Reserve
<div class="form-group">
    <label asp-for="DateReserve" class="control-label"></label>
    <input asp-for="DateReserve" class="form-control" />
    <span asp-validation-for="DateReserve" class="text-danger"></span>
</div>