@model RentACar.Data.Entities.RentalType
@{
    ViewData["Title"] = "DeleteRentalType";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar el item?</h3>
<div>
    <partial name="_RentalTypeDetails" />

    <form asp-action="DeleteRentalType">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-route-id="@Model?.Rental.Id"class="btn btn-outline-success">Volver</a>
    </form>
</div>
