@model RentACar.Data.Entities.Rental
@{
    ViewData["Title"] = "DeleteRental";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar el item?</h3>
<div>
    <partial name="_RentalDetails" />

    <form asp-action="DeleteRental">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-route-id="@Model?.Reserve.Id"class="btn btn-outline-success">Volver</a>
    </form>
</div>
