@model RentACar.Data.Entities.Reserve

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<h1>Detalles</h1>

<div>
  <partial name="_ReserveDetails"/>
</div>
<div>
    <a asp-action="AddRental" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Agregar Alquiler</a> 
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-success">Volver</a>
</div>
