@model RentACar.Models.RentalViewModel
@{
    ViewData["Title"] = "EditRental";
}

<h1>Editar</h1>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditRental">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="ReserveId"/>
            <partial name="_Rental" />
            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Details" asp-route-id="@Model.ReserveId" class="btn btn-outline-success">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
